################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/.vs/Client/v15
/Client/EJTests/obj/Debug
/Client/EveJimaUniverse/obj/Debug
/Client/packages
/Server/EveJimaServerMap/bin/Release
/Server/EveJimaServerMap/obj/Release
/Client/EJTests/bin/Debug
/Client/EvaJima/bin/x86/2.12
/Client/EvaJima/obj/x86/Debug
/Client/EvaJimaCore/bin/x86/Debug
/Client/EvaJimaCore/obj/x86/Debug
/Client/EveInternalBrowser/bin/x86/Debug
/Client/EveInternalBrowser/obj/x86/Debug
/Client/EveJimaCoreTests/bin/Debug
/Client/EveJimaUniverse/bin/Debug
/Client/EvaJima/bin/x86/2.2x
/Client/EveJima_Installer/2.2x
/Client/.vs/Client/v16
/Client/EvaJimaCore/obj/x86/Release
/Client/EvaJima/obj/x86/Release
/Client/EJTests/obj/Release
/Client/EveInternalBrowser/obj/x86/Release
/Client/EveJimaUniverse/bin/Release
/Client/EveJimaUniverse/obj/Release
/Client/EvaJima/bin/x86
