<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFileSizeAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log_"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy-MM-dd.\tx\t"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="-1"/>
      <param name="StaticLogFileName" value="false"/>
      <countDirection value="1"/>
      <preserveLogFileNameExtension value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{yyyy/MM/dd HH:mm:ss.fff}][%level%] %message %newline"></conversionPattern>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileSizeAppender"/>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>