<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SolarSystemTTL" value="24" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />

  <add key="EsiAddress" value="https://esi.evetech.net"/>

  <!--
    # Set the internal browser type 
    # [chromiumWebBrowser]  => default rich browser from "The CefSharp Authors" https://raw.githubusercontent.com/cefsharp/CefSharp/master/LICENSE
    # [netWebBrowser]       => Net web browser control. Select if have crash om start application
    -->
  <add key="BrowserType" value="chromiumWebBrowser" />
  <!-- 
    # Production: EVE - 
    # Tests:      Form1
    -->
  <add key="EveOnlineTitle" value="EVE -" />


  <!-- Application size -->

  <add key="ClientWidth" value="570" />
  <add key="ClientHeight" value="295" />


  <!-- Security -->

  <add key="Security.IsPrintClipboardDataToLog" value="true"/>

  <!-- Statistic -->

  <add key="Statistic.VisitorsCounterPage" value="http://evejima.mikotaj.com/VisitorsCounter.html"/>

</appSettings>